<div class="page-home">
	<div class="hero">
		<div class="hero-content">
			<h1 class="title">Our <strong>Sponsors</strong></h1>
			<p>These are those amazing people who go above and beyond to support our project! We like to show them off a bit to make them feel beautiful. Don't be shy, drop on by!</p>
			{{>carbon}}
		</div>
	</div>
	<div class="partners">
		<div class="columns">
			<div class="column is-5">
				<div class="partner-wrapper">
					<img src="https://unsplash.it/150?random" class="partner-logo is-pulled-left" />
					<div class="partner-text">		
						<h4 class="partner-title">Lorem Ipsum</h4>
						<span class="partner-member">Jane Doe</span>
						<p class="partner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec orci metus. Phasellus at ex tristique, fringilla orci sed, consectetur lacus. Aliquam nec sodales nunc. Aenean felis ante, finibus quis eleifend sit amet, interdum in risus.</p>
					</div>
					<a class="button is-info">Join now >></a> 
				</div>
			</div>
			<div class="column is-5 is-offset-2">
				<div class="partner-wrapper">
					<img src="https://unsplash.it/150?random" class="partner-logo is-pulled-left" />
					<div class="partner-text">		
						<h4 class="partner-title">Lorem Ipsum</h4>
						<span class="partner-member">Jane Doe</span>
						<p class="partner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec orci metus. Phasellus at ex tristique, fringilla orci sed, consectetur lacus. Aliquam nec sodales nunc. Aenean felis ante, finibus quis eleifend sit amet, interdum in risus.</p>
					</div>
					<a class="button is-info">Join now >></a> 
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-5">
				<div class="partner-wrapper">
					<img src="https://unsplash.it/150?random" class="partner-logo is-pulled-left" />
					<div class="partner-text">		
						<h4 class="partner-title">Lorem Ipsum</h4>
						<span class="partner-member">Jane Doe</span>
						<p class="partner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec orci metus. Phasellus at ex tristique, fringilla orci sed, consectetur lacus. Aliquam nec sodales nunc. Aenean felis ante, finibus quis eleifend sit amet, interdum in risus.</p>
					</div>
					<a class="button is-info">Join now >></a> 
				</div>
			</div>
			<div class="column is-5 is-offset-2">
				<div class="partner-wrapper">
					<img src="https://unsplash.it/150?random" class="partner-logo is-pulled-left" />
					<div class="partner-text">		
						<h4 class="partner-title">Lorem Ipsum</h4>
						<span class="partner-member">Jane Doe</span>
						<p class="partner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec orci metus. Phasellus at ex tristique, fringilla orci sed, consectetur lacus. Aliquam nec sodales nunc. Aenean felis ante, finibus quis eleifend sit amet, interdum in risus.</p>
					</div>
					<a class="button is-info">Join now >></a> 
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-5">
				<div class="partner-wrapper">
					<img src="https://unsplash.it/150?random" class="partner-logo is-pulled-left" />
					<div class="partner-text">		
						<h4 class="partner-title">Lorem Ipsum</h4>
						<span class="partner-member">Jane Doe</span>
						<p class="partner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec orci metus. Phasellus at ex tristique, fringilla orci sed, consectetur lacus. Aliquam nec sodales nunc. Aenean felis ante, finibus quis eleifend sit amet, interdum in risus.</p>
					</div>
					<a class="button is-info">Join now >></a> 
				</div>
			</div>
			<div class="column is-5 is-offset-2">
				<div class="partner-wrapper">
					<img src="https://unsplash.it/150?random" class="partner-logo is-pulled-left" />
					<div class="partner-text">		
						<h4 class="partner-title">Lorem Ipsum</h4>
						<span class="partner-member">Jane Doe</span>
						<p class="partner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec orci metus. Phasellus at ex tristique, fringilla orci sed, consectetur lacus. Aliquam nec sodales nunc. Aenean felis ante, finibus quis eleifend sit amet, interdum in risus.</p>
					</div>
					<a class="button is-info">Join now >></a> 
				</div>
			</div>
		</div>
	</div>
</div>
