<div class="page-home">
	<div class="hero hero-small">
		<div class="hero-content">
			<h1 class="title">Dyno <strong>Plans</strong></h1>
			<p>Upgrading to Dyno Premium or purchasing server listings help support the development and operation of Dyno and provides you with a higher level of service and features.</p>
			{{!-- {{>carbon}} --}}
		</div>
	</div>
	<div id="upgrade-mount">

	</div>
</div>
