{{!-- <div class="page-serverlisting">
    <div class="hero">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Discord <span style="color: #0072bc">Servers</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container serverlist" id="serverlist-mount">

    </div>
    <script src="/js/react/serverListing.js"></script>
</div> --}}

<div class="page-serverlisting">
    <div id="serverlist-mount"></div>
    <script src="/js/react/serverListing.js"></script>
</div>
