@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Light Italic.otf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Book.otf');
	font-weight: normal; //400
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Book Italic.otf');
	font-weight: normal; //400
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Medium Italic.otf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Medium.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Demi Italic.otf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Demi.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Bold Italic.otf');
	font-weight: 700; //bold
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
    src: url('https://s.dyno.gg/web-assets/fonts/Maison Neue Bold.otf');
	font-weight: 700; //bold
	font-style: normal;
}

@import './colors.sass';

// import all
// @import 'bulma/bulma'

// utilities
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';

// layout
// @import 'bulma/sass/layout/hero';
@import 'bulma/sass/layout/section';
@import 'bulma/sass/layout/footer';

// elements
@import 'bulma/sass/elements/box';
@import 'bulma/sass/elements/button';
// @import 'bulma/sass/elements/content';
@import 'bulma/sass/elements/form';
@import 'bulma/sass/elements/image';
// @import 'bulma/sass/elements/notification';
@import 'bulma/sass/elements/other';
// @import 'bulma/sass/elements/progress';
@import 'bulma/sass/elements/table';
@import 'bulma/sass/elements/title';

// components
// @import 'bulma/sass/components/card';
@import 'bulma/sass/grid/_all';
// @import 'bulma/sass/components/highlight';
@import 'bulma/sass/components/level';
// @import 'bulma/sass/components/media';
@import 'bulma/sass/components/menu';
@import 'bulma/sass/components/message';
@import 'bulma/sass/components/modal';
@import 'bulma/sass/components/navbar';
// @import 'bulma/sass/components/navbar';
@import 'bulma/sass/components/pagination';
// @import 'bulma/sass/components/panel';
// @import 'bulma/sass/components/tabs';

$break-tablet: 769px;
$break-mobile: 768px;