<section class="section" style="background-color: transparent">
  <div class="container ">
    <nav class="navbar columns">
      <p class="column has-text-left">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a class="link is-info left" href="/discord" target="_blank" title="Dyno Discord Server"> Support Server</a>
      </p>
	    <p class="column has-text-centered">
		    <a class="link is-info add-dyno" href="/invite" title="Add Dyno"><strong><i class="fa fa-plus-square-o right" aria-hidden="true"></i> Add Dyno</strong></a>
	    </p>
	    <p class="column has-text-right">
        <a class="link is-info right" href="/terms" title="Terms of Service">Terms of Service</a>
        <i class="fa fa-terminal" aria-hidden="true"></i>
      </p>
    </nav>
    <nav class="navbar columns">
		  <p class="column has-text-left">
        <i class="fa fa-twitter"></i>
			  <a class="link is-info left" href="https://twitter.com/DynoDiscord" target="_blank">Twitter</a>
		  </p>
		  <p class="column has-text-centered">
			    <a class="link is-info premium-button" href="/upgrade" title="Dyno Premium"><strong>Get premium</strong></a>
      </p>
	    <p class="column has-text-right">
        <a class="link is-info right" href="/commands" title="Commands">Commands</a>
        <i class="fa fa-gavel" aria-hidden="true"></i>
      </p>
    </nav>
	  <nav class="navbar columns">
      <p class="column has-text-left">
        <i class="fa fa-question" aria-hidden="true"></i>
        <a class="link is-info faq" href="/faq" title="Frequently Asked Questions">FAQ</a>
      </p>
	    <p class="column has-text-centered">
        <a class="link is-info underlined" href="/team" title="Dyno Team">Dyno is made by <strong>Nooblance#3500</strong> and contributors</a>
      </p>
      <p class="column has-text-right">
        <a class="link is-info right" href="/privacy" title="Privacy Policy">Privacy Policy</a>
        <i class="fa fa-user-secret" aria-hidden="true"></i>
      </p>
    </nav>
  </div>
</section>