<nav class="nav">
	<div class="nav-left nav-menu">
        <a class="nav-item nav-invite button is-info" href="/invite" title="Add Dyno to your server"><strong>Add To Server</strong></a>
		<a class="nav-item nav-discord" href="/discord" title="Dyno Discord Server" target="_blank">Join Our Discord</a>
		<a class="nav-item nav-commands" href="/commands" title="Commands">Commands</a>
        <a class="nav-item nav-faq" href="/faq" title="Frequently Asked Questions">FAQ</a>
        <a class="nav-item nav-donate" href="/upgrade" title="Get Premium">
        	<span class="icon is-link">
        		<i class="fa fa-arrow-circle-up"></i>
        	</span>
        	Get Premium
        </a>
		<a class="nav-item nav-team" href="/team" title="Dyno Team">Team</a>
        {{!-- <a class="nav-item" href="https://twitter.com/DynoDiscord" target="_blank">Twitter</a> --}}
	</div>
</nav>