.container.serverlist {
  max-width: unset !important;
}

.hero {
  .hero-description {
    margin-bottom: 2rem;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pagination {
    flex: 0 0 100%;
    ul {
      flex-grow: 0;
    }

    .pagination-list.circles {
      li {
        border: none;
        background-color: unset;

        .page-circle {
          width: 8px;
          height: 8px;
          border-radius: 360px;
          background-color: white;
          opacity: 0.4;
        }

        &.active,
        &:hover {
          .page-circle {
            opacity: 1;
          }
        }
      }
    }
  }
}

.list-wrapper {
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  margin-bottom: 20px;
  min-width: 100%;
  align-items: center;
}

.list-title {
  font-size: 25px;
  margin-left: 31px;
  padding-top: 10px;
  margin-bottom: -8px;
}

.server-list-wrapper {
  width: 100%;
  max-width: 1352px;
}

.server-list {
  max-width: 1352px;

  .svg-inline--fa {
    color: white;
  }
}

.server-list {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  width: 100%;
  height: 100%;
  padding-left: 14px;
  padding-right: 14px;
  margin: auto;

  .server-list-item-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    margin-right: 3px;

    .server-list-card {
      //background-color: #222;
      background-color: #202020;
      border: 2px solid #202020;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: palevioletred;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      flex-direction: column;
      padding: 0;
      margin: 0.5rem;
      width: 242px;
      height: 270px;
      align-items: center;
      justify-content: center;
      transition: 300ms;
      margin-bottom: 0px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      box-shadow: 0px -5px 20px 6px rgba(0, 0, 0, 0.25);

      .server-description {
        transition: 300ms;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 3px;
        width: calc(100% + 4px);
        height: calc(100% + 42px);
        background-color: transparent;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

        .server-media-icons {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          opacity: 0;
          margin-top: 54px;

          .media-icon {
            border-radius: 100px;
            width: 26px;
            height: 26px;
            margin: 0px 9px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center; 
            font-size: 16px;

            &.youtube {
              background: #FF0000;
            }

            &.twitter {
              background: #1da1f2;
            }

            &.twitch {
              background: #6441A4;
            }

            &.reddit {
              background: #FF4500;
            }
          }
        }

        .server-description-content-wrapper {
          padding: 5px 10px;
          font-size: 12px;
          text-align: center;
          opacity: 0;
          height: 145px;
          overflow: hidden;
          margin-top: 25px;
          margin-bottom: 8px;

          p {
            display: table-cell;
            height: 122px;
            word-break: break-all;
          }
        }

        &.no-icons {
          .server-description-content-wrapper {
            margin-top: 79px;
            height: 173px;
          }
        }

        .server-join {
          height: 32px;
          padding: 6px;
          background-color: #336fd5;
          border-radius: 4px;
          width: 54%;
          text-align: center;
          font-size: 15px;
          opacity: 0;

          svg {
            margin-top: 2px;
          }
        }
      }

      .server-icon-wrapper {
          margin-top: 5px;
          align-self: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;
          bottom: 225px;
          transition: 200ms;

        .server-list-item-icon {
          width: 100%;
          height: auto;
          align-self: center;
          margin-right: 8px;
          margin-left: 10px;
          border-radius: 90px;
          border: 3px solid silver;
          box-sizing: content-box;
          background-position: center;
          background-size: contain;
          height: 96px;
          width: 96px;
          position: absolute;
          transition: 200ms;
          right: 59px;
        }
      }
    }

    .server-list-card-footer {
      width: 242px;
      height: 40px;
      background-color: #0072bc;
      margin-left: 0.5rem;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0px 5px 20px 6px rgba(0, 0, 0, 0.25);

      .server-name {
        line-height: 24px;
        vertical-align: top;
        width: 242px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0px;
        position: relative;
        bottom: -6px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding: 0px 5px;
      }
    }

    &:hover {
      .server-list-card {
        .server-description {
          background-color: rgba(0, 0, 0, 0.7);
          transition: 300ms;

          .server-media-icons {
            opacity: 1;
          }
          .server-description-content-wrapper {
            opacity: 1;
          }

          .server-join {
            opacity: 1;
            box-shadow: 0px 1px 20px 6px rgba(0, 0, 0, 0.35);
          }
        }

        .server-icon-wrapper {
          bottom: 338px;

          .server-list-item-icon {
            width: 64px;
            height: 64px;
            right: 75px;
          }
        }
      }

      .server-list-card-footer {
        .server-name {
          bottom: 185px;

          &.no-icons {
            bottom: 211px;
          }
        }
      }
    }
  }
}

.server-list-wrapper.premium {
  background-color: #2c2d31;
  border-radius: 10px;

  .server-list {
    width: 100%;
    margin: auto;
    padding: 0;
    padding-bottom: 20px;
  }
}

.server-list.vertical {
  .server-list-item-wrapper {
    .server-list-card {
      width: 242px;
      height: 429px;

      .server-icon-wrapper {
        bottom: 332px;
        .server-list-item-icon {
          width: 128px;
          height: 128px;
          right: 43px;
        }
      }

      .server-description {
        .server-media-icons {
          margin-top: 81px;
        }

        .server-description-content-wrapper {
          height: 257px;
          margin-top: 36px;
          margin-bottom: 12px;

          p {
            height: 158px;
            font-size: 15px;
          }
        }

        &.no-icons {
          .server-description-content-wrapper {
            height: 275px;
            margin-top: 117px;
            margin-bottom: 21px;
  
            p {
              height: 158px;
              font-size: 15px;
            }
          }
        }
      }
    }

    &:hover {
      .server-icon-wrapper {
        bottom: 506px;
      }

      .server-list-card {
        .server-icon-wrapper {
          .server-list-item-icon {
            width: 96px;
            height: 96px;
            right: 59px;
          }
        }
      }

      .server-list-card-footer {
        .server-name {
          font-size: 16px;
          bottom: 317px;

          &.no-icons {
            bottom: 343px;
          }
        }
      }
    }
  }
}

.search-footer {
  background-color: #4a4a4a;
  padding: 15px;
  margin: 0px 10%;
  margin-bottom: 20px;
  border-radius: 12px;
  text-align: center;

  h2 {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 8px;
    }
  }
}

.server-list-item-wrapper.skeleton {
  .server-list-card {
    background-color: #2f2f2f;
    border-color: rgb(32, 32, 32);

    .skeleton-icon {
      height: 96px;
      width: 96px;
      position: relative;
      top: 84px;
      left: 74px;
      border-radius: 300px;
      background-image: linear-gradient(90deg, #4a4a4a 0px, #565656 40px, #4a4a4a 80px);
      background-size: 600px;
      animation: shine 1.5s infinite ease-out;
    }
  }

  .server-list-card-footer {
    background-color: #202020;

    .skeleton-name {
      height: 20px;
      width: 75px;
      position: relative;
      top: 9px;
      left: 82px;
      border-radius: 12px;
      background-image: linear-gradient(90deg, #4a4a4a 0px, #565656 40px, #4a4a4a 80px);
      background-size: 600px;
      animation: shine 1.5s infinite ease-out;
    }
  }

  &.vertical {
    .server-list-card {
      .skeleton-icon {
        top: 148px;
        height: 128px;
        width: 128px;
        left: 58px;
      }
    }

    .server-list-card-footer {
      .skeleton-name {
        top: 9px;
      }
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #0072bc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0072bc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  0% {
    background-position: -100px
  }
  40%, 100% {
    background-position: 140px
  }
}

//Temporary layout fixes because of the lack of a carousel
//Makes the vertical server-list always break evenly, because of
//the shadow effect that needs the wrapper to set the effect
@media screen and (max-width: 439px) {
  .server-list.vertical {
    max-width: 220px;
  }
}
@media screen and (max-width: 645px) {
  .server-list.vertical {
    max-width: 440px;
  }
}
@media screen and (max-width: 1227px) {
  .server-list.vertical {
    max-width: 652px;
  }
}
