<div class="page-legal">
	<div class="hero">
		<div class="container">
			<div class="columns">
				<div class="column">
					<h1 class="title">Privacy Policy</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container page-content">
		<div class="columns">
			<div class="column">
				<p>Your privacy is important to us.</p>
				<p>We don't ask for your personal information unless we truly need it.</p>
				<p>It is Dyno's policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://dyno.gg">http://dyno.gg</a>.

				<h3>Personal Information</h3>
					<p>We may ask you for personal information, such as your name, email, address, contact details and payment details. We collect only the personal information relevant to providing you with a service and use your information only to ensure the fulfillment of this service. You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services without this information.</p>
					<p>Dyno will not disclose your personally identifiable information to third parties for purposes unrelated to those for which the information was collected without your permission except to respond to proper requests for information from government or judicial officials investigating illegal activity, in the event of bankruptcy or a sale of substantially all or some of the assets of Dyno, to protect the personal safety of its users or the public, to protect and defend the rights or property of Dyno, or to otherwise comply with the law. Dyno may share your personally identifiable information with entities affiliated with Dyno through common ownership or control.</p>
					<p>We will only retain personal information for as long as necessary to provide you with Dyno services.</p>

				<h3>Cookies</h3>
					<p>We use "cookies" to collect information about you and your activity across our site. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit so we can understand how you use our site and serve you content based on preferences you have specified.</p>
					<p>If you do not wish to accept cookies from us, you should instruct your browser to refuse cookies from our website, with the understanding that we may be unable to provide you with some of your desired services without them. This policy covers only the use of cookies between your computer and our website; it does not cover the use of cookies by any advertisers.</p>

				<h3>Third-Party Services</h3>
					<p>We may employ third-party companies and individuals on our websites - for example, analytics providers and content partners. These third parties have access to your personal information only to perform specific tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

				<h3>Security</h3>
					<p>We take security seriously and do what we can within commercially acceptable means to protect your personal information from loss or theft, as well as unauthorized access, disclosure, copying, use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure, and cannot guarantee the absolute security of your data.</p>

				<h3>Links to Other Sites</h3>
					<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot assume responsibility for their treatment of your personal information. This privacy policy only covers our website and privacy practices.</p>

				<h3>Children's Privacy</h3>
					<p>The Dyno website is a general audience site, and we do not knowingly collect personally identifiable information from children under thirteen years of age. If, as a part of future service offerings, we decide to request personally identifiable information from children under thirteen, we will require verifiable parental consent before we collect this information as required by applicable law. Should a child whom we know to be under thirteen send personal information to us, we will use that information only to respond to that child to inform him or her that we must have parental consent before receiving his or her personal information. If you believe your child has provided us with personal information, we encourage you to contact us immediately, and we will do our best to delete the data as quickly as possible.</p>

				<h3>Changes to our Privacy Policy</h3>
					<p>At our discretion, we may change our privacy policy from time to time. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around privacy and personal information.</p>

				<h3>Business Transfers</h3>
					<p>If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would include user information among our assets transferred to or acquired by a third party. You acknowledge that such transfers may occur and that any parties who acquire us may continue to use your personal information according to this policy.</p>
			</div>
		</div>
	</div>
</div>