<div class="error-code">500</div>
<p>Something went wrong. If the problem persists, please try again in a few minutes or <a href="https://discord.gg/2wAv4TT" title="Contact Support">contact support</a>.</p>