<div id="server" class="page-server">
	<div class="container-fluid">
		<div id="admin-mount"></div>
	</div>
</div>

<div class="notification-wrapper">
	<div class="notification success is-success is-hidden"><p></p></div>
	<div class="notification error is-danger is-hidden"><p></p></div>
</div>
{{!-- <script type="text/javascript">
	var config = {{{toJSON dashboardConfig}}}
</script> --}}
