<div class="page-home">
	<div class="hero hero-small">
		<div class="hero-content">
			<h1 class="title">Premium <strong>Plans</strong></h1>
			<p>Upgrading to Dyno premium helps support the development and operation of Dyno and provides you with a higher level of service and features.</p>
			{{!-- {{>carbon}} --}}
		</div>
	</div>
	<div class="upgrade-content">
		<div class="columns">
			<div class="column is-8 is-offset-2">
				<table class="table">
					<thead class="upgrade-features-table-head">
						<tr>
							<th></th>
							<th>Premium</th>
							<th>Premium 3x </th>
							<th>Premium 5x</th>
							{{!-- <th>Sponsor</th> --}}
							{{!-- <th>Overload</th> --}}
						</tr>
					</thead>
					<tbody class="upgrade-features-table-body">
						<tr>
							<th>Servers</th>
							<td><strong>1</strong></td>
							<td><strong>3</strong></td>
							<td><strong>5</strong></td>
							{{!-- <td><strong>3</strong></td> --}}
							{{!-- <td>8</td> --}}
						</tr>
						<tr>
							<th>Role</th>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							{{!-- <td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td> --}}
							{{!-- <td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td> --}}
						</tr>
						{{!-- <tr>
							<th>Cleverbot</th>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
						</tr>--}}
						<tr>
							<th>High Availability</th>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<th>Auto Purge</th>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<th>Slowmode</th>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<th>Premium Music</th>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							<td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td>
							{{!-- <td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td> --}}
							{{!-- <td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td> --}}
						</tr>
						{{!-- <tr>
							<th>Server Advertisement</th>
							<td></td>
							<td></td>
							<td></td> --}}
							{{!-- <td><i class="fa fa-check upgrade-feature-green" aria-hidden="true"></i></td> --}}
							{{!-- <td><i class="fa fa-times upgrade-feature-red" aria-hidden="true"></i></td> --}}
						{{!-- </tr> --}}
						<tr class="upgrade-features-table-price">
							<th>Price</th>
							<td>$5</td>
							<td>$10</td>
							<td>$15</td>
							{{!-- <td>$30</td> --}}
							{{!-- <td>$30</td> --}}
						</tr>
						<tr>
							<th></th>
							<td><a class="button is-info" href="https://www.patreon.com/bePatron?c=543081&rid=1233178" target="_blank">Upgrade now</a></td>
							<td><a class="button is-info" href="https://www.patreon.com/bePatron?c=543081&rid=1839289" target="_blank">Upgrade now</a></td>
							<td><a class="button is-info" href="https://www.patreon.com/bePatron?c=543081&rid=2168110" target="_blank">Upgrade now</a></td>
							{{!-- <td><a class="button is-info" href="https://www.patreon.com/bePatron?c=543081&rid=1503955" target="_blank">Upgrade now</a></td> --}}
							{{!-- <td><a class="button is-info">Upgrade now</a></td> --}}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
