<section class="section" style="background-color: transparent">
  <div class="container ">
    <footer>
      <ul class="left">
        <li>
          <i class="far fa-envelope fa-lg" aria-hidden="true"></i>
          <a class="link is-info left" href="/discord" target="_blank" title="Dyno Discord Server">Support Server</a>
        </li>
        <li>
          <i class="fab fa-twitter fa-lg"></i>
          <a class="link is-info left" href="https://twitter.com/DynoDiscord" target="_blank">Twitter</a>
        </li>
        <li>
          <i class="fas fa-question fa-lg" aria-hidden="true"></i>
          <a class="link is-info faq" href="/faq" title="Frequently Asked Questions">FAQ</a>
        </li>
      </ul>
      <ul class="middle">
        <li>
          <a class="link is-info add-dyno" href="/invite" title="Add Dyno">
            <i class="far fa-plus-square fa-lg right" aria-hidden="true" style="color: #336fd5"></i>
            <strong>Add Dyno</strong>
          </a>
        </li>
        <li>
          <a class="link is-info premium-button" href="/upgrade" title="Dyno Premium">
            <strong>Get premium</strong>
          </a>
        </li>
        {{!-- <li>
          <a class="link is-info underlined" href="/team" title="Dyno Team">Dyno is made by
            <strong>Nooblance#0002</strong> and contributors
          </a>
        </li> --}}
      </ul>
      <ul class="right">
        <li>
          <a class="link is-info right" href="/terms" title="Terms of Service">Terms of Service</a>
          <i class="fas fa-terminal fa-lg" aria-hidden="true"></i>
        </li>
        <li>
          <a class="link is-info right" href="/commands" title="Commands">Commands</a>
          <i class="fas fa-gavel fa-lg" aria-hidden="true"></i>
        </li>
        <li>
          <a class="link is-info right" href="/privacy" title="Privacy Policy">Privacy Policy</a>
          <i class="fas fa-user-secret fa-lg" aria-hidden="true"></i>
        </li>
      </ul>
    </footer>
  </div>
</section>