<div class="page-home">
	<div class="container circles">
		<div id="home-listing-mount"></div>
		<script src="{{getVersionedPath '/js/react/homepage.js'}}"></script>
		{{!-- <link rel="stylesheet" href="{{getVersionedPath 'css/serverlist.css'}}"> --}}
	</div>
	<div class="container serverlist">
		<div class="learn-more columns is-multiline">
			<div class="column is-half is-full-mobile">
				<h1 class="is-size-2 has-text-weight-semibold">The Discord Bot that does it all. Automatically</h1>
				<p class="is-size-6 has-text-grey">A fully customizable server moderation Discord bot for your Discord
					server that features a simple and intuitive web dashboard. Server management just got a whole lot
					easier.
				</p>
				<a href='/bot' class="button is-info is-medium is-rounded">Learn more</a>
			</div>
			<div class="column is-half is-full-mobile">
				<img alt="Laptop frame with the Dyno dashboard rendered on it" class="mockup" src="https://s.dyno.gg/web-assets/landing/product-mockup.png" />
			</div>
		</div>
	</div>
</div>